body {
    margin: 0;
    padding: 0;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-variant:small-caps;
    transition: all 0.2s ease-in;
}

button {

    font-size: 1.1rem;
    padding: 0.5vw;
    color: white;
    border: 2px solid white;
    background-color: black;
    border-radius: 5px;
    width: 7rem;
}

button:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: all 0.2s ease-in-out;
}

button:active{
    transform: scale(1.3);
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: all 0.1s ease-in-out;
}
a {
    color: white;
}
a:hover{
    color: rgba(255, 255, 255, 0.663);
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: #2a2a2a;
    align-items: center;
}
.cont {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
} 
header {
    width: 100%;
    height: 50px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    background-color: #191919;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 2;
}
.header1{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30%;
    padding: 1vw;
}
.header2{
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: end;
    width: 70%; 
    padding-right: 0.4vw;  
}
.header_logo {
    border: 2px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard{
    background-color: #2a2a2a;
    margin-top: 60px;
    border-bottom: 2px solid black;
    overflow: auto;
}
main {
    width: 100%;
    height: 75%;
    overflow: auto;
    display: flex;
    border-bottom: 2px solid white;
    padding-bottom: 1vw;
}
.about{
    display: flex;
flex-direction: column;
padding: 3vh 0 8vh 4vw;
font-size: 1rem;
background-color: #191919;
}
.contact form{
display: flex;
flex-direction: column;
padding: 3vh 0 8vh 1vw;

}

.contact form input{
    width: 60vw;
    height: 5vh;
    color:#2a2a2a;
    background-color: white;
    font-size: 1.4rem;
    margin: 0.3vh 0.2vw;
    border: 3px solid black;
    border-radius: 8px;
}
#sub{
    width: 100%;
    color: white;
    background-color: black;
}
#msg{
    height: 15vh;
    overflow: auto;
    text-align: start;
    flex-wrap: wrap;
}
.side_nav {
    padding: 0 0.2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid black;
    display: none;
    position: fixed;
    background-color: #100f0f9c;


}

main section {
    width: 65%;
    padding: 2vw 1vw 0 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border-right: 2px solid black;
    overflow-y: auto;

}

.sec_div {
    border: 2px solid white;
    padding: 0.3vw;
    border-radius: 8px;
}
.upper {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    padding: 0 1vw;
}
.upper * {
    width: 40%;
    height: fit-content;
    text-align: center;
    padding: 0.5vw;

}
.logo_header {
    border: 1px solid white;
    width: 20px;
    height: 20px;
    padding: 0.5vw;
    border-radius: 50%;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}
.bottom * {
    padding: 2vw;
    border: 1px solid grey;
    width: 100%;
    margin: 0 3vw;
    text-align: center;
}
main aside{
    width: 35%;
    overflow: auto;
}
.aside1{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 40%;
    border-bottom: 3px solid black;
   
}
.aside_div {
    border: 2px solid white;
    width: 93%;
    margin: 0.3vw;
    display: flex;
    gap: 1vw;
    padding: 0.5vw;
}
.aside_div img {
    width: 4rem;
    height: 3rem;
    border: 2px solid white;

}
footer {
    width: 100%;
    height: 15%;
    overflow: auto;
    display: flex;
    overflow: hidden;
    background-color: #191919;
}

footer * {
    display: flex;
    flex-direction: column;
   
}
.foot_log {
    width: 15%;
    font-size: 1rem;
    align-items: start;
    justify-content: center;
}

footer nav {
    display: flex;
    width: 35%;
    padding-left: 0.5vw;
    gap: 0.3vw;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;

}
.foot_div {
    display: flex;
    width: 50%;
    gap: 0.5vw;
    align-items: end;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.6rem;
}

.info {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2vw;
    padding: 0 0.5vw;
}
.medias {
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
}
.info div {
    display: flex;
    gap: 0.8vw;
    flex-direction: row;
}




@media (max-width: 500px) {
    .side_nav{
        display: flex;
        width: 60px;
        float: left;
    }
    header {
         display: none;
    }
    body {
        font-size: 12px;
    }
    button{
        font-size: 13px;
        width: fit-content;
    }
    .dashboard {
        margin-top: 0;
        margin-left: 65px;
    }
    footer{
        margin-left: 60px;
        padding-left: 2vw;

    }
}